# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Lista jednokierunkowa/ipch/LISTA JEDNOKIERUNKOWA-24637cda
/Lista jednokierunkowa/.vs/Lista jednokierunkowa/v14
/Lista jednokierunkowa/Lista jednokierunkowa.VC.VC.opendb
/Lista jednokierunkowa/Lista jednokierunkowa.VC.db
/Lista jednokierunkowa/Debug
*.pdb
*.idb
/Lista jednokierunkowa/Lista jednokierunkowa/Debug/Lista je.FF3B5717.tlog
/Lista jednokierunkowa/Lista jednokierunkowa/Debug
/Figury_Szachowe_PPK_Projekt1
/Drzewo Katalogów PPK_Projekt2/Drzewo Katalogów PPK_Projekt2/Debug/Drzewo K.4C4AE8C6.tlog
/Drzewo Katalogów PPK_Projekt2/Drzewo Katalogów PPK_Projekt2/Debug/drzewo katalogów ppk_projekt2.obj.enc
/Drzewo Katalogów PPK_Projekt2/Drzewo Katalogów PPK_Projekt2/Debug/Drzewo Katalogów PPK_Projekt2.log
/Drzewo Katalogów PPK_Projekt2/ipch/DRZEWO KATALOGÓW PPK_PROJEKT2-8bf70afc/DRZEWO KATALOGÓW PPK_PROJEKT2-ded68ccf.ipch
/Drzewo Katalogów PPK_Projekt2/Drzewo Katalogów PPK_Projekt2.VC.db
/Szachy PPK_Projekt2/Szachy PPK_Projekt2/Debug/Szachy P.6DE02089.tlog
/Szachy PPK_Projekt2/Szachy PPK_Projekt2/Debug/Szachy PPK_Projekt2.log
/Szachy PPK_Projekt2/ipch/SZACHY PPK_PROJEKT2-e257d09a
/Szachy PPK_Projekt2/Debug
/Szachy PPK_Projekt2/.vs/Szachy PPK_Projekt2/v14
/Drzewo Katalogów PPK_Projekt2/.vs/Drzewo Katalogów PPK_Projekt2/v14
/Drzewo Katalogów PPK_Projekt2/Debug
/Szachy PPK_Projekt2/Szachy PPK_Projekt2.VC.VC.opendb
/Szachy PPK_Projekt2/Szachy PPK_Projekt2.VC.db
