# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Lista jednokierunkowa/ipch/LISTA JEDNOKIERUNKOWA-24637cda
/Lista jednokierunkowa/.vs/Lista jednokierunkowa/v14
/Lista jednokierunkowa/Lista jednokierunkowa.VC.VC.opendb
/Lista jednokierunkowa/Lista jednokierunkowa.VC.db
/Lista jednokierunkowa/Debug
*.pdb
*.idb
/Lista jednokierunkowa/Lista jednokierunkowa/Debug/Lista je.FF3B5717.tlog
/Lista jednokierunkowa/Lista jednokierunkowa/Debug
